<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
        <style>
            /* Scrollbar */
            ::-webkit-scrollbar {
              width: 8px;
            }
            
            ::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px grey; 
              border-radius: 10px;
            }
             
            ::-webkit-scrollbar-thumb {
              background: grey; 
              border-radius: 10px;
            }
            
            ::-webkit-scrollbar-thumb:hover {
              background: #d5f9ba; 
            }
            /* Fine scrollbar */
        </style>
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>

        <div id="app">

            <!-- // Inizio Sfondo -->
            <div id="sfondo">

                <div id="top_green"></div>

                <div id="background" class="flex"></div>

            </div>
           <!-- // Fine sfondo -->

           <!-- // Inizio app container -->
            <div id="app_container" class="flex">

                <!-- // Inizio left container -->
                <div id="app_container_left" class="flex">

                    <!-- // Inizio header left -->
                    <div class="header_left flex center-align">
                        <div class=" header_title flex center-align">
                            <img src="img/avatar_1.jpg" alt="">
                            <h3>Nicolas Morelli</h3>
                        </div>
                        <div class="header_i flex center-align">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- Fine header left -->

                    <!-- Inizio notification -->
                    <div id="app_notification_left" class="flex center-align">
                        <div class="notification_i">
                            <i id="bell" class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notification_a">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- Fine notification -->

                    <!-- Inizio search -->
                    <div id="app_search_left" class="flex center-align">
                        <input id="input_search"  type="text" placeholder="🔎 Cerca o inizia una nuova chat">
                    </div>
                    <!-- Fine search -->

                    <!-- Inizio contact -->
                    <div class="people">
                        <div v-for="(contact,index) in contacts" class="contact"
                            :class="(contactIndex == index) ? 'active' : '' " @click="getContact(index)">
                            <div class="avatar">
                                <img :src="getImage(index)" :alt="getAlt(index)">
                            </div>
                            <div class="data">
                                <h4>{{ contact.name }}</h4>
                                <p>{{ getLast(contact).text }}...</p>
                            </div>
                            <div class="time">
                                <p>{{ getLast(contact).date }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Fine contact -->

                </div> 
                <!-- // Fine left container -->

                <!-- Inizio right container -->
                <div id="app_container_right"class="flex">

                    <!-- Inizio chat title -->
                    <div v-for="(contact, index) in contacts" v-if="(contactIndex == index)" class="header_right flex center-align">
                        <div class=" header_title flex center-align">
                            <img :src="getImage(index)" alt="Michele">
                            <div class="flex_h3_h6">
                                <h3>{{ contact.name}}</h3>
                                <h6>Ultimo accesso oggi alle {{ getLast(contact).date }}</h6>
                            </div>
                        </div>
                        <div class="header_i flex center-align">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- Fine chat title -->

                    <!-- Inizio chat box -->
                    <div class="chat_box">
                        <div class="message_one active_one">
                            <span>Hai portato a spasso il cane?</span>
                            <span class="time_one">20/05/2021 15:00</span>
                        </div>
                        <div class="message_two active_one">
                            <span>Ricordati di dargli da mangiare</span>
                            <span class="time_one">20/05/2021 15:00</span>
                        </div>
                        <div class="message_tree active_two">
                            <span>Tutto fatto!</span>
                            <span class="time_tree">20/05/2021 15:00</span>
                        </div>
                    </div>
                    <!-- Fine chat box -->

                    <!-- Inizio message bar -->
                    <div id="message_bar" class="flex center-align">
                        <i class="far fa-smile"></i>
                        <input id="input_message" placeholder="Scrivi un messaggio" type="text">
                        <i class="fas fa-microphone"></i>
                    </div>
                    <!-- Fine message bar -->

                </div>
                <!-- Fine right container -->

            </div>
           <!-- // Fine app container -->

        </div>

        <script src="js/script.js"></script>
    </body>
</html>
